<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">MyCookBook</a>
  <form class="form-inline">
    <button type="button" class="btn btn-dark btn-secondary" style="margin:5px;"><a href="/">Home</a></button>
    <button type="button" class="btn btn-dark btn-join" style="margin:5px;"><a href="/join">Join</a></button>
    <button type="button" class="btn btn-dark" style="margin:5px;"><a href="/signin">SignIn</a></button>
    <button type="button" class="btn btn-dark" style="margin:5px;"><a href="/myownrecipe">Create recipe</a></button>
  </form>
</nav>
<div class="bg">
  <div class="main-title">
    <h3>My CookBook! A Place to save my favourite recipes!</h3>
  </div>
  <form class="form-inline main-search active-cyan-4">
    <input class="form-control form-control-sm mr-3 w-75" id="recipeSearch" type="text"
      placeholder="Find the recipe here!!" aria-label="Search">
    <button type="button" id="submit" class="btn btn-dark" style="margin:5px;">Search</button>
  </form>
</div>
</div>