<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">MyCookBook</a>
  <form class="form-inline">
    <button type="button" class="btn btn-dark" style="margin:5px;">Home</button>

    <button type="button" class="btn btn-dark" style="margin:5px;">Join</button>
    <button type="button" class="btn btn-dark" style="margin:5px;">SignIn</button>

    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div class="bg">
  <img class="main-img"
    src="https://images.unsplash.com/photo-1576866209830-589e1bfbaa4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"></img>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>