@media (max-width: 1024px) {
}
@media (max-width: 812px) {
}

.list-group-item {
  line-height: 2.5;
}
.bg {
  width: 100vw;
  height: 100vh;

  background-size: cover;

  background-image: url("https://images.unsplash.com/photo-1576866209830-589e1bfbaa4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60");
}
.main-search {
  padding-top: 10px;
  padding-left: 250px;
  width: 1150px;
}
.main-title {
  padding-left: 300px;
  padding-top: 45px;
}
.main-form-div {
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&auto=format&fit=crop&w=631&q=80");
}
.joing-form {
  margin: 40px;
  padding-left: 470px;
}
.main-signin-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
}
.sign-form {
  margin: 40px;
  padding-right: 650px;
}
